
$colors: #8373d6, #ed8468, #7ffd38,#db8c8c,#04641d,#84a4f1,#20a14e,#ac142b,#f784fe,#6471ef,#71ba4e,#b8e4ae;

$obj1: 
polygon(52.73% 83.43%, 57.51% 59.08%, 48.25% 59%),
polygon(34.04% 21.3%, 41.4% 40.88%, 43.99% 21.17%),
polygon(48.79% 35.55%, 41.4% 40.88%, 52.64% 47.17%),
polygon(43.99% 21.3%, 41.4% 40.88%, 48.79% 35.5%),
polygon(48.25% 83.43%, 52.73% 83.43%, 48.25% 59%),
polygon(57.51% 83.43%, 57.51% 59.08%, 52.73% 83.33%),
polygon(41.4% 40.88%, 48.25% 59.08%, 52.64% 47.17%),
polygon(57.04% 35.2%, 64.93% 39.17%, 61.7% 21.17%),
polygon(52.64% 47.28%, 64.93% 39.17%, 57.04% 35.17%),
polygon(61.7% 21.3%, 64.93% 39.17%, 71.58% 21.17%),
polygon(48.25% 59.08%, 57.51% 59.08%, 52.64% 47.17%),
polygon(57.51% 59.08%, 64.93% 39.17%, 52.64% 47.17%);

$obj2:
polygon(30.94% 18.97%, 44.89% 49.32%, 41.5% 18.83%),
polygon(41.5% 18.97%, 44.89% 49.32%, 49.84% 38.83%),
polygon(39.9% 60.03%, 49.84% 59.72%, 44.89% 49.17%),
polygon(40.55% 81.22%, 49.84% 59.72%, 30.05% 81.17%),
polygon(68.6% 18.97%, 58.16% 18.97%, 54.78% 49.17%),
polygon(30.05% 81.22%, 49.84% 59.72%, 39.9% 60%),
polygon(54.78% 49.32%, 49.84% 59.72%, 59.84% 60.17%),
polygon(59.84% 60.23%, 49.84% 59.72%, 69.55% 81.17%),
polygon(49.84% 59.72%, 59.05% 81.22%, 69.55% 81.17%),
polygon(49.84% 38.93%, 44.89% 49.32%, 54.78% 49.17%),
polygon(58.16% 18.97%, 49.84% 38.93%, 54.78% 49.17%),
polygon(44.89% 49.32%, 49.84% 59.72%, 54.78% 49.17%);