.header
  position: relative
  z-index: 0
  // min-height: 75vh
  padding: percentage(50/1260) 0 70px
  background: $yellow
  color: #000
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $yellow
    z-index: -1

.header__row
  position: relative
  max-width: 1260px
  padding: 0 10px
  margin: auto
  text-align: right

.header__triangles
  position: absolute
  z-index: -2
  top: 100%
  left: 50%
  margin: -65px 0 0 -227px

.logo
  position: absolute
  top: 50%
  left: 10px
  margin-top: -0.5em
  color: #000
  font-size: 40px
  line-height: 1
  text-transform: uppercase
  text-decoration: none
  +pol
  &:before
    content: ""
    position: absolute
    top: 100%
    left: 2px
    right: 0
    height: 5px
    +isvg(wave)
    background-repeat: repeat-x

.say-hello
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 3px 6px 2px
  border: 2px solid #000
  color: inherit
  background: $yellow
  font-size: 21px
  line-height: 1
  +pol-b
  text-transform: uppercase
  text-decoration: none
  &:before
    content: ""
    position: absolute
    top: 100%
    left: 8px
    +arr(10,10,#000,tr)
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 12px
    +arr(4,5,$yellow,tr)

.menu-btn
  position: relative
  display: inline-block
  vertical-align: middle
  width: 30px
  height: 30px
  margin-left: 48px
  background: none
  text-decoration: none
  color: inherit
  &:hover
    color: red
    .menu-btn__inner
      transform: rotate(90deg)
      background: red
      &:before
        transform: rotate(35deg)
        width: 50%
        margin-bottom: 2px
        background: red
      &:after
        transform: rotate(-35deg)
        width: 50%
        margin-top: 2px
        background: red

.menu-btn__inner
  position: absolute
  top: 50%
  left: 50%
  margin: -1px 0 0 -13px
  box-sizing: border-box
  width: 26px
  height: 2px
  background: #000
  transition: all 0.2s linear
  &:before,
  &:after
    content: ""
    position: absolute
    right: 0
    width: 100%
    height: 100%
    transition: all 0.2s linear
    background: inherit
  &:before
    bottom: 100%
    margin-bottom: 4px
  &:after
    top: 100%
    margin-top: 4px

.promo-text
  position: relative
  max-width: 660px
  box-sizing: border-box
  margin: auto
  font-size: 32px
  line-height: 1.15
  color: inherit
  text-align: center
  text-transform: uppercase
  +pol-b
  &:before
    content: ""
    position: absolute
    top: 100%
    left: percentage(60/660)
    width: 10px
    height: 10px
    margin-top: 12px
    border-radius: 50%
    background: #000

.promo-text__row
  display: inline-block
  border: 2px solid
  border-width: 2px 0
  & + &
    margin-top: -2px

.anim-text-box
  margin: 100px 0
  font-size: 238px
  +pol-b
  line-height: 1
  text-align: center

.heading
  margin: 40px 0
  font-size: 40px
  text-transform: uppercase
  text-align: center
  +pol
  &:first-child
    margin-top: 0

.heading__inner
  display: inline-block
  font-weight: normal
  position: relative
  font-weight: normal
  font-size: inherit

.heading_wave
  .heading__inner
    &:before,
    &:after
      content: ""
      position: absolute
      top: 50%
      width: 116px
      height: 9px
      margin-top: -5px
      +isvg(wave-large)
      background-repeat: repeat-x
    &:before
      right: 100%
      margin-right: 35px
    &:after
      left: 100%
      margin-left: 35px

.section
  padding: 35px 0
  position: relative
  box-sizing: border-box
  min-height: 400px
  z-index: 0

.section_bg
  background: #EDF0F7

.figure-group
  font-size: 0
  margin: 0 -15px

.figure
  display: inline-block
  vertical-align: top
  padding: 0 10px
  width: 25%
  box-sizing: border-box
  text-align: center
  font-size: 16px
  cursor: default
  &:hover
    .figure__icon
      .icon-octa
        fill: $yellow
        stroke: $yellow
        transform: scale(1.2)
    .figure__strong
      box-shadow: 0 4px 0 -2px $yellow

.figure__icon
  position: relative
  height: 125px
  line-height: 125px
  margin-bottom: 40px
  .icon
    vertical-align: middle
    position: relative
  .icon-octa
    position: absolute
    top: 0
    left: 50%
    margin-left: -0.5em
    transition: all 0.2s linear
    fill: rgba(0,0,0,0.0)
  .icon-diamond
    top: 4px
  .icon-eye
    top: -5px
  .icon-letter
    top: 2px

.figure__strong
  position: relative
  display: inline-block
  margin-bottom: 20px
  font-size: 26px
  line-height: 1.38
  +rob
  transition: box-shadow 0.2s linear

.figure__regular
  +rob-l
  letter-spacing: 0.01em

.slider
  margin: 40px 0
  margin-left: 410px
  position: relative

.slider__nav
  position: absolute
  bottom: -5px
  left: 25px

.slider__prev,
.slider__next
  background: none
  text-decoration: none
  color: inherit
  .icon
    transition: fill 0.2s linear
  &:hover
    .icon
      fill: $yellow

.slider__next
  margin-left: 22px
  .icon
    transform: scale(-1,-1)

.feedback
  color: #333
  +clr

.feedback__ava
  float: left
  width: 128px
  height: 128px
  overflow: hidden
  img
    display: block
    max-width: 100%
    max-height: 100%

.feedback__text
  margin-left: 165px

.feedback__person
  display: block
  margin-top: 40px
  font-style: normal
  font-weight: normal
  font-size: 13px

.feedback__name
  display: block
  +rob-b
  font-size: 16px
