.out 
  +r(700)
    overflow: hidden
.header
  position: relative
  z-index: 0
  // min-height: 75vh
  padding: percentage(50/1260) 0 70px
  background: $yellow  
  color: #000
  .header__bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    video
      position: absolute
      right: 0
      bottom: 0
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto   
  &:before
    content: "" 
    position: absolute
    top: 0
    left: 0
    right: 0 
    bottom: 0 
    background: $yellow
    z-index: -1
  .logo
    position: absolute
    top: 50%
    left: 10px
    margin-top: -0.5em  
 
.header__row
  position: relative
  max-width: 1260px
  padding: 0 10px
  margin: auto
  text-align: right

.header__triangles
  position: absolute
  z-index: -2
  top: 100%
  left: 50%
  margin: -65px 0 0 -227px 

.logo
  display: inline-block 
  position: relative  
  color: #000
  font-size: 40px
  line-height: 1
  text-transform: uppercase
  text-decoration: none
  +pol
  &:before
    content: ""
    position: absolute
    top: 100%
    left: 2px
    right: 0
    height: 5px
    +isvg(wave)
    background-repeat: repeat-x

.say-hello
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 3px 6px 2px
  border: 2px solid #000
  color: inherit
  background: $yellow
  font-size: 21px
  line-height: 1
  +pol-b
  text-transform: uppercase
  text-decoration: none
  &:before
    content: ""
    position: absolute
    top: 100%
    left: 8px
    +arr(10,10,#000,tr)
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 12px
    +arr(4,5,$yellow,tr)

.menu-btn
  position: relative
  display: inline-block
  vertical-align: middle
  width: 30px
  height: 30px
  margin-left: 48px
  background: none
  text-decoration: none
  color: inherit
  +r(600)
    margin-left: 20px 
  &:hover
    color: red
    .menu-btn__inner
      transform: rotate(90deg)
      background: red
      &:before
        transform: rotate(35deg)
        width: 50%
        margin-bottom: 2px
        background: red
      &:after
        transform: rotate(-35deg)
        width: 50%
        margin-top: 2px
        background: red

.menu-btn__inner
  position: absolute
  top: 50%
  left: 50%
  margin: -1px 0 0 -13px
  box-sizing: border-box
  width: 26px
  height: 2px
  background: #000
  transition: all 0.2s linear
  &:before,
  &:after
    content: ""
    position: absolute
    right: 0
    width: 100%
    height: 100%
    transition: all 0.2s linear
    background: inherit
  &:before
    bottom: 100%
    margin-bottom: 4px
  &:after
    top: 100%
    margin-top: 4px

.promo-text
  position: relative
  max-width: 800px
  box-sizing: border-box
  margin: auto
  font-size: 32px
  line-height: 1.15
  line-height: 37px 
  color: inherit
  text-align: center
  text-transform: uppercase
  +pol-b
  // &:before
  //   content: ""
  //   position: absolute
  //   top: 100%
  //   left: percentage(60/660)
  //   width: 10px
  //   height: 10px
  //   margin-top: 12px
  //   border-radius: 50%
  //   background: #000

.promo-text__row
  // display: inline-block
  // border: 2px solid
  // border-width: 2px 0
  background-image: linear-gradient(rgba(#000, 1) 0%, #000 100%),linear-gradient(rgba(#000, 1) 0%, #000 100%)
  background-repeat: repeat-x,repeat-x 
  background-size: 1px 2px, 1px 2px
  background-position: 0 95%, 0 5%
  +r(700)
    border: none
    margin-bottom: 10px 
    font-size: 80% 
    background: none 
    br
      display: none
  
  & + &
    margin-top: -2px

.anim-box 
  +pol-b
  margin: -60px auto 0 auto
  overflow: hidden 
  width: 80%
  height: 0
  padding-bottom: 60%  
  z-index: -1 
  z-index: 1 
  position: relative
  +r(700)
    margin: 0 auto
    margin-top: -5%
    margin-bottom: -5%   
  .canvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%    
.heading
  margin: 30px 0
  font-size: 40px
  text-transform: uppercase
  text-align: center
  +pol
  &:first-child
    margin-top: 0

.heading__inner
  display: inline-block
  vertical-align: middle
  font-weight: normal
  position: relative
  font-weight: normal
  font-size: inherit

.heading_wave
  .heading__inner
    &:before,
    &:after
      content: ""
      position: absolute
      top: 50%
      width: 116px
      height: 9px
      margin-top: -5px
      +isvg(wave-large)
      background-repeat: repeat-x
    &:before
      right: 100%
      margin-right: 35px
    &:after
      left: 100%
      margin-left: 35px

.heading_wheel
  .heading__inner
    padding: 4px 5px 2px
    border: 2px solid
    line-height: 34px
    +r(600)
      border: none
  .icon-steering
    margin: -25px 5px -24px
    +r(600)
      display: none

.heading_fish
  .icon-fish
    vertical-align: middle
    +r(600)
      display: none
    &:first-child
      margin-right: 45px
    &:last-child
      margin-left: 45px
      transform: scale(-1,1)

.section
  padding: 35px 0
  position: relative
  box-sizing: border-box
  min-height: 400px
  z-index: 0
  +r(600)
    min-height: 0 

.section_bg
  background: $gray

.figure-group
  font-size: 0
  margin: 0 -15px
  +r(1000)
    margin: 0 

.figure
  display: inline-block
  vertical-align: top
  padding: 0 10px
  width: 25%
  box-sizing: border-box
  text-align: center
  font-size: 16px
  cursor: default
  +r(950)
    width: 50% 
    margin-bottom: 20px 
  +r(600)
    width: 100% 
    text-align: left
    position: relative
  &:hover
    .figure__icon
      .icon-octa
        fill: $yellow
        stroke: $yellow
        transform: scale(1.2)
    .figure__strong
      box-shadow: 0 4px 0 -2px $yellow
  .figure__text
    +r(600)
      overflow: hidden
      position: relative
      z-index: 10 
      margin-left: 100px 

.figure__icon
  position: relative
  height: 125px
  line-height: 125px
  margin-bottom: 40px
  +r(600)
    float: left
    margin-right: 40px 
    position: absolute
    left: 15px
    top: 0 
    height: auto 
    line-height: 1 
  .icon
    vertical-align: middle
    position: relative
    +r(600)
      width: 70px 
      text-align: center
      top: 0  
  .icon-octa
    position: absolute
    top: 0
    left: 50% 
    margin-left: -0.5em
    transition: all 0.2s linear
    fill: rgba(0,0,0,0.0)
    +r(600)
      display: none
  .icon-diamond
    top: 4px
  .icon-eye
    top: -5px
    +r(600)
      top: 5px 
  .icon-letter
    top: 2px
    +r(600)
      top: 4px 
  .icon-clock
    +r(600)
      top: 4px


.figure__strong
  position: relative
  display: inline-block
  margin-bottom: 20px
  font-size: 26px
  line-height: 1.38
  +rob
  transition: box-shadow 0.2s linear
  +r(600)
    margin-bottom: 5px 
    font-size: 20px 

.figure__regular
  +rob-l
  letter-spacing: 0.01em

.slider
  margin-left: percentage(410/960)
  position: relative
  +r(830)
    margin: 0 
  .slider__nav
    position: absolute
    bottom: -5px
    left: 25px
    

  .slider__prev,
  .slider__next,
  .slick-prev,
  .slick-next
    background: none
    text-decoration: none
    color: inherit
    .icon
      transition: fill 0.2s linear
    &:hover
      .icon
        fill: $yellow

  .slider__next,.slick-next
    margin-left: 22px
    .icon
      transform: scale(-1,-1)

.feedback
  color: #333
  +clr

.feedback__ava
  float: left
  width: 128px
  height: 128px
  overflow: hidden
  +r(600)
    display: none
  img
    display: block
    max-width: 100%
    max-height: 100%

.feedback__text
  margin-left: 165px
  padding-right: 10px 
  +r(600)
    margin-left: 0 

.feedback__person
  display: block
  margin-top: 40px
  font-style: normal
  font-weight: normal
  font-size: 13px
  +r(600)
    margin-left: 165px 

.feedback__name
  display: block
  +rob-b
  font-size: 16px

.money-back
  position: absolute
  top: 40px
  width: 310px
  padding-bottom: 135px
  +r(830)
    margin: 0 
    position: relative
    top: 0
    left: 0
    width: auto   
    padding-bottom: 70px 

.money-back__text
  position: relative
  padding: 17px 29px
  box-sizing: border-box
  background: $gray
  border: 17px solid #FFF
  font-size: 28px
  +rob
  &:before,
  &:after
    content: ""
    position: absolute
    top: 100%
    right: 0
  &:before
    +arr(64,50,#FFF,tr)
    margin: 17px -17px 0 0
  &:after
    +arr(42,32,$gray,tr)

.money-back__icon
  position: absolute
  bottom: 0
  right: 0
  margin: 0 -26px 0
  +r(830)
    display: none

.logotypes
  font-size: 0
  text-align: center

.logotypes__item
  display: inline-block
  vertical-align: middle
  margin: 20px 30px
  img
    display: block
    
@keyframes shake
  0%, 100% 
    transform: translate3d(0, 0, 0)
  10%, 30%, 50%, 70%, 90%
    transform: translate3d(-10px, 0, 0)
  20%, 40%, 60%, 80%
    transform: translate3d(10px, 0, 0)

.shake
  animation-name: shake
  animation-duration: 1s
  animation-timing-function: linear
  animation-iteration-count: 1
  
.form
  margin: 55px -10px 0
  font-size: 0
  position: relative
  overflow: hidden
  +r(600)
    margin-top: 24px 
.form__field
  padding: 0 10px
  margin-bottom: 20px
  box-sizing: border-box

.form__field_half
  display: inline-block
  vertical-align: top
  width: 50%

.input
  display: block
  width: 100%
  padding: 18px 20px
  box-sizing: border-box
  background: #FFF
  +rob-b
  font-size: 13px
  text-transform: uppercase
  line-height: 1.2
  color: #333
  border-radius: 3px
  +placeholder
    color: #333
    line-height: normal
.form__success
  font-size: 30px 
  +pol
  text-align: center
  transform: translate3d(100%, 0, 0)
  position: absolute
  left: 0
  top: 0
  right: 0 
  padding: 15px 
  transition: all .3s ease-in-out
  padding: 10px 
  strong
    font-weight: normal
    display: block
    font-size: 40px 
  .is-success &
    transform: translate3d(0, 0, 0)
.form__form
  transition: all .3s ease-in-out
  .is-success &
    transform: translate3d(-100%, 0, 0)
.btn
  display: block
  margin: 40px auto 0
  width: 295px
  height: 66px
  background: $yellow
  +pol
  font-size: 40px
  text-transform: uppercase
.slick-prev,.slick-next
  display: none !important
.superman
  text-align: center
  .superman__pic
    text-align: center
    display: block
    img
      display: inline
  .superman__name
    +pol
    font-size: 30px 
    padding-top: 10px 
.contacts
  +clr

.contacts__left
  float: left

.contacts__right
  float: right
.contacts__left,.contacts__right
  margin-top: 85px 
  +r(640)
    float: none
    margin-bottom: 20px 
    display: block
    margin-top: 0 
    
.contacts__center
  text-align: center
  width: 344px 
  margin: 0 auto
  +r(800)
    display: none
.contact
  display: inline-block
  vertical-align: top
  +rob
  font-size: 26px
  color: #333
  text-align: center
  +r(640)
    display: block

.contact__icon
  min-height: 53px
  margin-bottom: 15px
  svg
    vertical-align: top
$trw: 173px
$trw1: 150px
.contact__text
  color: inherit
  text-decoration: none
.contacts__tris
  position: relative
  min-height: 340px 
  margin-bottom: 50px 
  .contacts__tri1
    width: 0
    height: 0
    border-left: $trw solid transparent
    border-right: $trw solid transparent
    border-bottom: $trw*1.73 solid #000
    position: absolute
    top: 40px
    left: 0 
    transform: rotate(180deg)
    z-index: 9 
  .contacts__tri2
    width: 0
    height: 0
    border-left: $trw solid transparent
    border-right: $trw solid transparent
    border-bottom: $trw*1.73 solid #FEEE35
    position: absolute
    left: 0
    z-index: 5  
  .contacts__tri3 
    width: 0
    height: 0
    border-left: $trw1 solid transparent
    border-right: $trw1 solid transparent
    border-bottom: $trw1*1.73 solid #fff
    position: absolute
    left: 23px
    top: 26px 
    z-index: 6
  .contacts__text
    font-size: 40px 
    z-index: 10 
    text-transform: uppercase
    +pol
    position: absolute
    width: 100%
    left: 0
    top: 65px  
    text-align: center 
    color: #FFF 
  .logo
    position: absolute
    bottom: -50px 
    left: 50%
    margin-left: -(132px/2)
    // width: 100%  
.footer
  padding: 24px 0
  text-align: center
  color: rgba(0,0,0,0.5)
  +rob
  font-size: 11px
  letter-spacing: 0.025em
  text-transform: uppercase
  background: $gray
