html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "Politica"; src: url("fonts/politica-webfont.eot"); src: url("fonts/politica-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/politica-webfont.woff2") format("woff2"), url("fonts/politica-webfont.woff") format("woff"), url("fonts/politica-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Politica-Bold"; src: url("fonts/politica_bold-webfont.eot"); src: url("fonts/politica_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/politica_bold-webfont.woff2") format("woff2"), url("fonts/politica_bold-webfont.woff") format("woff"), url("fonts/politica_bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto-Regular"; src: url("fonts/roboto_regular.eot"); src: url("fonts/roboto_regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto_regular.woff2") format("woff2"), url("fonts/roboto_regular.woff") format("woff"), url("fonts/roboto_regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Roboto-Light"; src: url("fonts/roboto_light.eot"); src: url("fonts/roboto_light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto_light.woff2") format("woff2"), url("fonts/roboto_light.woff") format("woff"), url("fonts/roboto_light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.intro { background: #fff000; color: #000; }

.header__logo { display: block; color: #000; font-size: 40px; text-transform: uppercase; text-decoration: none; letter-spacing: -0.01em; font-family: "Politica", Helvetica, Arial, sans-serif; font-weight: normal; }

.promo { max-width: 650px; margin: auto; font-size: 32px; letter-spacing: -0.01e; color: inherit; text-align: center; font-family: "Politica-Bold", Helvetica, Arial, sans-serif; font-weight: normal; }



/*# sourceMappingURL=screen.css.map */