extends _layout

block title
  title Coderiver || Home page

block content
  
  <!-- BEGIN intro -->
  .intro
    .header
      a.header__logo(href="/") 
        | Coderiver
      .header__right
        button.say-hello(type="button")
          | Say hello
        button.menu(type="button")

    .promo.
      We specialize in doing top notch HTML / CSS / Javscript
      service for digital agenciesand development teams.
  <!-- END intro -->