extends _layout

block title
  title Coderiver || Home page

block svg-sprite
  include ../../site/img/icons.svg

block content
  
  //BEGIN header
  header.header
    .header__row
      .header__right
        button.js-scroll.say-hello(type="button",data-goto="order")
          | Say hello
        button.js-scroll.menu-btn(type="button",data-goto="why")
          i.menu-btn__inner
      
      a.logo(href="/")
        | Coderiver

    .l
      .anim-box
        .canvas
          - var n = 0 
              while n < 140 
                //- div.p.p#{$n}= n++
                div.p(class='p'+n++)
      p.promo-text
        span.promo-text__row
          | We specialize in doing top notch HTML / CSS / Javascript service<br> for digital agencies and development teams.
  
    .header__triangles
      include ../../site/img/svg/triangles.svg
  //END header

  //BEGIN why
  section.section.why#why
    .l
      .heading.heading_wave
        h2.heading__inner Why us

      .figure-group
        figure.figure
          .figure__icon
            +icon("octa")
            +icon("diamond")
          figcaption.figure__text
            dl
              dt.figure__strong
                | Quality
              dd.figure__regular.
                We stick to design, pixel to pixel. Using all the latest 
                tech to test it.

        figure.figure
          .figure__icon
            +icon("octa")
            +icon("eye")
          figcaption.figure__text
            dl
              dt.figure__strong
                | 10 years on market
              dd.figure__regular.
                We did more than 500 projects and have experience in 
                everything concerning frontend

        figure.figure
          .figure__icon
            +icon("octa")
            +icon("letter")
          figcaption.figure__text
            dl
              dt.figure__strong
                | Support
              dd.figure__regular.
                We support our projects forever. 
                And even if you decide to support them yourself, 
                we can teach you.

        figure.figure
          .figure__icon
            +icon("octa")
            +icon("clock")
          figcaption.figure__text
            dl
              dt.figure__strong
                | Deadline
              dd.figure__regular.
                Always stick to deadlines.
                We understand that time
                is money.
  //END why

  //BEGIN feedbacks
  section.section.section_bg.feedbacks
    .l
      .heading
        h2.heading__inner
          | Feedbacks

      .money-back
        p.money-back__text.
          We will return 
          your money back
          if you would not
          be satisfied
        .money-back__icon
          +icon("dollar")

      .slider
        .slide
          .feedback
            .feedback__ava
              img(src="http://placehold.it/200x200", alt="")
            blockquote.feedback__text
              p.
                Sed elementum fringilla odio, ac semper justo hendrerit auctor. 
                In ac sapien fringilla, rhoncus est eget, pretium risus. 
                Donec vitae turpis turpis. per est at nisl placerat dignissim. 
                Tristique eget sem. Aliquam volutpat tristique placerat. 
                Proin efficitur fringilla dictum. Vivamus tristique tempor tincidunt. 
                Nunc semper est at nisl placerat dignissim. Tristique eget sem. 
                Aliquam volutpat tristique placerat. Proin efficitur fringilla dictum. 
                Cras consequat vestibulum sodales.

              cite.feedback__person
                strong.feedback__name David Bradson
                span Serveral Devision
        .slider__nav
          button.slider__prev(type="button")
            +icon("arrow")
          button.slider__next(type="button")
            +icon("arrow")
  //END feedbacks



  //begin team
  //BEGIN why
  section.section.team#team
    .l
      .heading.heading_team
        h2.heading__inner Team
      p
        | team asdasd ada da
  //END team
  //BEGIN tech
  section.section.tech
    .l
      .heading.heading_wheel
        h2.heading__inner
          | Technologies
          +icon("steering")
          |  we are using

      ul.logotypes
        li.logotypes__item
          img(src="img/logotypes/sass.png", alt="sass logotype")
        li.logotypes__item
          img(src="img/logotypes/wordpress.png", alt="wordpress logotype")
        li.logotypes__item
          img(src="img/logotypes/bootstrap.png", alt="bootstrap logotype")
        li.logotypes__item
          img(src="img/logotypes/git.png", alt="git logotype")
        li.logotypes__item
          img(src="img/logotypes/js.png", alt="js logotype")
        li.logotypes__item
          img(src="img/logotypes/html5.png", alt="html5 logotype")
        li.logotypes__item
          img(src="img/logotypes/gulp.png", alt="gulp logotype")
  //END tech

  //BEGIN order
  section.section.section_bg.order#order
    .l
      .heading.heading_fish
        +icon("fish")
        h2.heading__inner
          | Order HTML/CSS
        +icon("fish")

      form.form
        .form__field.form__field_half
          input.input(type="text", name="NAME", placeholder="Name")
        .form__field.form__field_half
          input.input(type="email", name="EMAIL", placeholder="Your e-mail")
        .form__field
          input.input(type="text", name="PHONE", placeholder="Your skype or phone, or just say hello")
        button.btn(type="submit") Send
  //END order

  //BEGIN contacts
  section.section
    .l
      .contacts
        .contacts__left
          .contact
            .contact__icon
              +icon("letter")
            a.contact__text(href="mailto:html@coderiver.com.ua")
              | html@coderiver.com.ua
        
        .contacts__right
          .contact
            .contact__icon
              +icon("phone")
            a.contact__text(href="tel:+380969706428")
              | +380 (96) 970 64 28

        .contacts__center
          .contacts__tris
            .contacts__tri1
            .contacts__tri2
            .contacts__tri3
            .contacts__text
              | We<br> are<br> available<br>  online
            a.logo(href="skype:coderiver.ua?chat")
              | Coderiver 
  //END contacts

  //BEGIN footer
  footer.footer
    .l
      p Copyright © 2015 All rights reserved.
  //END footer